<ion-view view-title="検査結果">
  <ion-content>
    <h1>A列側</h1>

    <img src="./img/lineHole.png" name="img" alt="">
    <h2>A列側 ライナ穴ピッチ</h2>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ax</th>
                    <th>ΦD1x/2</th>
                    <th>Px</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in LinerHoleCtrl">
                    <td>{{result.title}}</td>
                    <td>{{result.Pich}}</td>
                    <td>{{result.Px}}</td>
                    <td align="right"><button class="btn btn-danger" ng-click="doDelete($index)">削除</button></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" ng-model="new_title"></td>
                    <td><input type="text" class="form-control" ng-model="new_Pich"></td>
                    <td><input type="text" class="form-control" ng-model="new_Px"></td>
                    <td align="right"><button class="btn btn-primary" ng-click="doPost()">追加</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--
   <form ng-submit="doLogin()">
        <div class="list">
            <ion-list>
              <ion-item ng-repeat="LinerHole in LinerHolelists" href="#/app/single/{{LinerHolelists.Id}}">
                <label class="item item-input">
                  <span class="input-label">{{LinerHole.title}}</span>
                  <input type="text" ng-model={{ LinerHolelists.Pich }}>
                </label>
                <label class="item item-input">
                  <span class="input-label">{{LinerHole.Id}}</span>
                  <input type="text" ng-model={{LinerHole.Px}}>
                </label>
              </ion-item>
          <label class="item">
            <button class="button button-block button-positive" type="submit">submit</button>
          </label>

        </div>
      </form>
-->
  </ion-content>
</ion-view>
