<ion-view view-title="Tasklists">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in Tasklists" href="#/app/Tasklists/{{Tasklist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
